<a href="https://colab.research.google.com/github/fulloa-s/python_piscine/blob/master/week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [328]:
import pandas as pd
import numpy as np

In [329]:
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/week3/Salaries.csv")

CLEANING DATASET
# Missing Values (NaN)

In [330]:
data.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                609
OvertimePay              4
OtherPay                 4
Benefits             36163
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              148654
dtype: int64

In [331]:
data.replace(np.nan, 'N/A')

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,N/A,567595.43,567595.43,2011,N/A,San Francisco,N/A
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,N/A,538909.28,538909.28,2011,N/A,San Francisco,N/A
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,N/A,335279.91,335279.91,2011,N/A,San Francisco,N/A
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,N/A,332343.61,332343.61,2011,N/A,San Francisco,N/A
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,N/A,326373.19,326373.19,2011,N/A,San Francisco,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.0,0.0,0.0,0.0,0.00,0.00,2014,N/A,San Francisco,N/A
148650,148651,Not provided,Not provided,N/A,N/A,N/A,N/A,0.00,0.00,2014,N/A,San Francisco,N/A
148651,148652,Not provided,Not provided,N/A,N/A,N/A,N/A,0.00,0.00,2014,N/A,San Francisco,N/A
148652,148653,Not provided,Not provided,N/A,N/A,N/A,N/A,0.00,0.00,2014,N/A,San Francisco,N/A
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,N/A,San Francisco,N/A

In [332]:
data.dropna(axis=1, how='all', inplace=True)
# data.dropna(inplace=True) #deeper cleaning -> Remove all columns with "any" N/A
data.isna().sum()

Id                      0
EmployeeName            0
JobTitle                0
BasePay               609
OvertimePay             4
OtherPay                4
Benefits            36163
TotalPay                0
TotalPayBenefits        0
Year                    0
Agency                  0
dtype: int64

# Duplicated records

Find duplicates

In [333]:
# data.duplicated(['EmployeeName'])

In [334]:
# data.loc[data["EmployeeName"] == "Randy D Winn"] #Example
data.drop_duplicates(['EmployeeName'], inplace=True)
# data.duplicated(['EmployeeName'])

# DESCRIPTIVE STATISTICS

In [335]:
data.describe()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
count,110811.000000,110227.000000,110810.000000,110810.000000,76932.000000,110811.000000,110811.000000,110811.000000
mean,59923.440543,66186.310426,4955.522909,3640.205586,24692.664559,74433.143947,91576.352382,2012.136683
std,36770.502072,42436.024183,11347.919651,8150.869381,15406.054992,50261.668712,61588.489278,0.919599
min,1.000000,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000
25%,28913.500000,34148.065000,0.000000,0.000000,10855.182500,36321.875000,43857.900000,2011.000000
50%,58248.000000,64927.560000,0.000000,749.640000,28439.435000,71064.610000,90046.040000,2012.000000
75%,87847.500000,94758.065000,4536.400000,4150.005000,35443.680000,105435.140000,129885.915000,2013.000000
max,148654.000000,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000

Cleaning DataFrame from negative values

In [336]:
# data.drop(data[(data.BasePay < 0) | (data.OvertimePay < 0) | (data.OtherPay < 0) | (data.TotalPay < 0) | (data.TotalPayBenefits < 0)].index, inplace=True)
# data.describe()

# Reset Index

In [337]:
data.reset_index(drop=True, inplace=True)
data.drop(axis=1, columns=["Id"], inplace=True)
data

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,San Francisco
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,San Francisco
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,San Francisco
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,San Francisco
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,San Francisco
...,...,...,...,...,...,...,...,...,...,...
110806,Kenneth Mackey,Transit Operator,0.00,0.00,15.35,0.0,15.35,15.35,2014,San Francisco
110807,Mark W Mcclure,General Laborer,0.00,0.00,0.00,0.0,0.00,0.00,2014,San Francisco
110808,Charlene D Mccully,Parking Control Officer,0.00,0.00,0.00,0.0,0.00,0.00,2014,San Francisco
110809,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,San Francisco
110810,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,San Francisco

# Exercises

In [338]:
data.describe()

,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
count,110227.000000,110810.000000,110810.000000,76932.000000,110811.000000,110811.000000,110811.000000
mean,66186.310426,4955.522909,3640.205586,24692.664559,74433.143947,91576.352382,2012.136683
std,42436.024183,11347.919651,8150.869381,15406.054992,50261.668712,61588.489278,0.919599
min,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000
25%,34148.065000,0.000000,0.000000,10855.182500,36321.875000,43857.900000,2011.000000
50%,64927.560000,0.000000,749.640000,28439.435000,71064.610000,90046.040000,2012.000000
75%,94758.065000,4536.400000,4150.005000,35443.680000,105435.140000,129885.915000,2013.000000
max,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000

In [339]:
data.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,San Francisco
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,San Francisco
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,San Francisco
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,San Francisco
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,San Francisco

In [340]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110811 entries, 0 to 110810
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EmployeeName      110811 non-null  object
 1   JobTitle          110811 non-null  object
 2   BasePay           110227 non-null  float64
 3   OvertimePay       110810 non-null  float64
 4   OtherPay          110810 non-null  float64
 5   Benefits          76932 non-null   float64
 6   TotalPay          110811 non-null  float64
 7   TotalPayBenefits  110811 non-null  float64
 8   Year              110811 non-null  int64
 9   Agency            110811 non-null  object
dtypes: float64(6), int64(1), object(3)
memory usage: 8.5+ MB

In [341]:
data["OvertimePay"].max()

245131.88

In [342]:
data.loc[data["EmployeeName"] == "JOSEPH DRISCOLL", "JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [343]:
data.loc[data["EmployeeName"] == "JOSEPH DRISCOLL", "TotalPayBenefits"]

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [344]:
data.loc[data["TotalPayBenefits"] == data["TotalPayBenefits"].max(), "EmployeeName" ]

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [347]:
data.loc[data["TotalPayBenefits"] == data["TotalPayBenefits"].min(), "EmployeeName" ]

110810    Joe Lopez
Name: EmployeeName, dtype: object

He has a negative Pay -> Activate "Cleaning DataFrame from negative values"

In [350]:
for year in range(2011, 2015):
  print(data.loc[data["Year"] == year, "BasePay" ].mean())

65597.83651425819
67758.6291117121
71611.9405302971
30916.67466987711

In [358]:
data["JobTitle"].unique().size

2136

In [361]:
data["JobTitle"].value_counts().head()

Transit Operator                4905
Registered Nurse                2529
TRANSIT OPERATOR                2267
Public Svc Aide-Public Works    2251
Firefighter                     1646
Name: JobTitle, dtype: int64

In [366]:
data.loc[data["Year"] == 2013, "JobTitle"].unique().size

1049

In [385]:
data.loc[data['JobTitle'].str.contains("Chief")].shape[0]

288